@model first_asp_app.Models.EmployeeAllocationVM

@{
    ViewData["Title"] = "ViewAllocations";
}

<h1>View Allocations for @Model.Firstname @Model.Lastname</h1>

<div>
    <h4>EmployeeAllocationVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
    </dl>
</div>

<div class="card" style="width:75%" >
    <div class="card-header"><h4>Leave Allocations</h4></div>
    <ul class="list-group list-group-flush">
        @foreach(var allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item d-grid gap-2" style=" 	grid-template-columns: repeat(4, minmax(0, 1fr)) ">
                 @allocation.LeaveType.Name 
                    <button type="button" class="btn btn-primary" >
                        Allocated days
                    <span class="badge rounded-pill bg-white text-primary">@allocation.LeaveType.DefaultDays</span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        Remaining days
                    <span class="badge rounded-pill bg-white text-primary ">@allocation.NumberOfDays</span>
                    </button>
                <a class="btn btn-warning" asp-action="EditAllocation" asp-route-id="@allocation?.Id">Edit Allocation</a> 
               
           </li>
        }
       
       
    </ul>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
